
<%#index 

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Author</th>
    <th></th>
    <th></th>
  </tr>
 
<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.text %></td>
    <td><%= post.author %></td>
    <td><%= link_to 'Show', post_path(post) %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Delete',post_path(post),method: :delete, data: { confirm: 'Do you want to continue?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back', :controller => "welcome", :action => "index" %>